@{
    ViewData["Title"] = "Home Page";
    var dt = ViewBag.DATE;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<p>
    初回アクセス日時：@dt
</p>

</div>
